name: Build ESP-NODE-2RDM Firmware

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build with ESP-IDF
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.2.6           
          target: esp32s3
          path: '.'
          command: idf.py build             

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware-esp-node-2rdm
          path: |
            build/*.bin
            build/bootloader/*.bin
            build/partition_table/*.bin
            
